@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

.ornamentTopRight,
.ornamentBottomLeft {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 165, 0, 0.2); /* orange transparent */
  filter: blur(60px);
  z-index: 1;
}

.ornamentTopRight {
  top: -100px;
  right: -100px;
  width: 300px;
  height: 300px;
  z-index: 20;
}

.ornamentBottomLeft {
  bottom: -100px;
  left: -100px;
  width: 250px;
  height: 250px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



  

    